/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Basic Styles */
html {
  background: url("../assets/cubes.png"), #7a0014;
  background: url("../assets/cubes.png"),
    linear-gradient(to right, rgba(0, 35, 108, 1) 7%, rgba(99, 15, 0, 1) 100%);
}
body {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
}
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8)
  );
  height: 42px;
  display: flex;
  padding: 0 12%;
  flex-direction: row;
  justify-content: space-between;
}
nav > ul > li > a {
  padding-left: 10%;
  font-family: "Kaushan Script", cursive;
  font-size: 28px;
  text-decoration: none;
  color: white;
}
nav > ul > ul {
  list-style-type: none;
  display: flex;
  line-height: 42px;
}
nav > ul > ul > li > a {
  font-weight: 600;
  padding: 0 20px;
  text-decoration: none;
  height: auto;
  color: white;
}

form > * {
  margin: 5px 0;
}
form > input[type="text"] {
  line-height: 40px;
  width: 100%;
  font-size: 1.1em;
  outline: transparent;
  border-radius: 5px;
  border: unset;
}
form > input[type="text"]::placeholder {
  font-size: 1em;
  padding-left: 10px;
}
form > input:focus {
  box-shadow: 0 0 4px 4px rgba(255, 255, 0, 0.418);
}
form > button {
  font-size: 1em;
  color: yellow;
  border-radius: 10px;
  width: 100%;
  border-color: rgb(255, 255, 0);
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  outline: transparent;
}
form > button:hover {
  background-color: yellow;
  border: unset;
  color: black;
  cursor: pointer;
}

footer {
  clear: both;
  position: relative;
  height: 50px;
  top: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 0.6em;
  font-size: 0.8em;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
}
.main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: 30px 0;
}
table {
  width: 100%;
}
table > * {
  width: 100%;
}
tr > * {
  padding: 10px 10px;
  max-width: 25%;
  word-wrap: break-word;
  border-bottom: 2px dotted rgba(255, 255, 0, 0.493);
}
.form-section {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  text-align: center;
}
.table-section {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  text-align: center;
}
.chart-section {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
.mobile-nav {
  height: 0;
  visibility: hidden;
}
/* Small screens */
@media (max-width: 767px) {
  body {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .main {
    padding: 0;
    margin-top: -60px;
    display: block;
  }
  .form-section {
    margin-top: 60px;
    background: transparent;
    visibility: hidden;
    height: 0;
  }

  .table-section {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
  }
  .chart-section {
    visibility: hidden;
    height: 0;
  }
  .default-nav {
    height: 0;
    visibility: hidden;
  }
  .mobile-nav {
    list-style-type: none;
    height: unset;
    visibility: unset;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    text-align: center;
    height: 42px;
  }
  .mobile-nav a {
    text-decoration: none;
    font-family: "Kaushan Script", cursive;
    font-size: 28px;
    color: white;
  }
}
/* Medium Screens */
@media (min-width: 768px) {
  .form-section {
    grid-column: 2/6;
    grid-row: 1/5;
  }
  .table-section {
    grid-column: 2/12;
    grid-row: 5/12;
  }
  .chart-section {
    grid-column: 6/12;
    grid-row: 1/5;
  }
}
/* Large screen size */
@media (min-width: 1024px) {
  .form-section {
    grid-column: 2/5;
    grid-row: 1/6;
  }
  .table-section {
    grid-column: 5/12;
    grid-row: 1/12;
  }
  .chart-section {
    grid-column: 2/5;
    grid-row: 6/12;
  }
}
